/* style.css */
.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 100%; /* Make slides take up 100% of the container width */
    max-width: 100%;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}


